<div class="card">
  <div class="card-block">
    <form>

      <div class="form-group">
        <input #postHeader type="text" class="form-control" id="postHeader" rows="3" placeholder="Название истории..."/>
      </div>

      <div class="form-group">
        <textarea #post class="form-control" id="exampleTextarea" rows="3"
                  placeholder="Здесь будет новый чудесный пост..."></textarea>
      </div>

      <div class="form-group">
        <label class="mr-sm-2" for="inlineFormCustomSelect" >Иконка</label>
        <select class="custom-select" id="inlineFormCustomSelect" (change)="choseRegion($event.target.value)">
          <option class="icons-china-group" *ngFor="let option of _icons.china">{{option}}</option>
          <option class="icons-world-group" *ngFor="let option of _icons.world">{{option}}</option>
        </select>
      </div>


    </form>
    <div class="row">
      <div class="container">
        <button class="btn btn-success btn-sm" (click)="onSendClick(postHeader.value, post.value)">
          ОТПРАВИТЬ
        </button>
        <button class="btn btn-danger btn-sm" (click)="onCancelClick()">ОТМЕНИТЬ</button>
      </div>
    </div>
  </div>
</div>

